@charset "UTF-8";
/****** General ***********/
* {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #FFFFFF;
  margin-left: 0;
  width: 100%;
  padding: 20px;
}

.img-head {
  width: 162px;
  height: 44px;
  display: block;
  margin: auto;
}

.image-goback {
  width: 30px;
  height: 30px;
  float: left;
}

.img-plat {
  width: 100%;
  height: 375px;
  object-fit: cover;
}

html, body {
  width: 100%;
  margin: 0;
  background-color: #F6F6F6;
  overflow-x: hidden;
}

.contain-main {
  padding-left: 20px;
  padding-right: 20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

hr {
  border: none;
  border-bottom: 3px solid #99E2D0;
  width: 50px;
  margin-left: 0;
  margin-top: 12px;
  margin-bottom: 12px;
}

h1 {
  font-family: Aclonica, sans-serif;
  letter-spacing: -4px;
  font-size: 38px;
  font-style: italic;
  font-weight: 900;
  line-height: 40.82px;
  text-align: left;
  text-shadow: 0px 0px 0px rgb(0, 0, 0);
  margin-left: 17px;
  padding-top: 25px;
  padding-bottom: 50px;
  margin-top: 0;
}

.menudujour {
  width: 100%;
  background-color: #F6F6F6;
  border: none;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  position: relative;
  top: -50px;
  margin-bottom: -50px !important;
}

.image-like {
  cursor: pointer;
  float: right;
  right: 30px;
  position: absolute;
  top: 30px;
}

/* animation image coeur */
.ft {
  border: 2px solid transparent; /* Ajoutez une bordure */
  background-clip: text !important;
  background: black;
  color: transparent;
  background-size: 100% 0%;
  font-weight: 400; /* Initial font-weight */
  transition: font-weight 1s ease;
  /* Initial state animation */
  animation: fadeOut 1s forwards;
}

.ft:hover {
  /* Hover state animation */
  animation: fadeIn 1s forwards; /* Applique l'animation 'fadeIn' sur 1 seconde et s'assure que les styles de l'animation sont appliqués après son exécution */
}

@keyframes fadeIn {
  0% {
    background: black;
    background-size: 100% 0%; /* La taille du fond est de 100% en largeur et 0% en hauteur */
    font-weight: 200;
  }
  100% {
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    background-size: 100% 100%;
    font-weight: 900;
    background-clip: text;
  }
}
@keyframes fadeOut {
  0% {
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    background-size: 100% 100%;
    font-weight: 900;
    background-clip: text;
  }
  100% {
    background: black; /* À la fin de l'animation, le fond est noir */
    background-size: 100% 0%;
    font-weight: 200; /* Le poids de la police est 400 (normal) */
  }
}
/*animation clôche*/
.entree-s {
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #FFFFFF;
  cursor: pointer;
}
.entree-s__header {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}
.entree-s__title {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-bottom: 5px;
}
.entree-s__description {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 15.04px;
  font-weight: 300;
  line-height: 17.63px;
}
.entree-s__price {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem;
}
.entree-s__confirmation {
  background-color: #99e2d0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
.entree-s:hover .entree-s__confirmation {
  margin-right: -1rem;
}
.entree-s__wrapIcon {
  height: 1.6rem;
  width: 1.6rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}
.entree-s:hover .entree-s__wrapIcon {
  transform: rotate(0);
}
.entree-s__icon {
  color: #99e2d0;
}

/*fin animation ... Ce code SCSS stylise trois éléments imbriqués dans un composant parent, où chaque bloc a des propriétés spécifiques. 
Les transitions et animations sont définies pour offrir des effets visuels lors du survol de l'élément parent, 
comme la rotation d'une icône et le changement de marge pour ajuster sa position.*/
/*animation contain*/
.entree, .plats, .dessert {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.entree .entree-s, .plats .entree-s, .dessert .entree-s {
  opacity: 0;
  transform: translateX(-10px);
  animation: slideIn 0.9s ease-in-out forwards;
}
.entree .entree-s:nth-child(2), .plats .entree-s:nth-child(2), .dessert .entree-s:nth-child(2) {
  animation-delay: 1s;
}
.entree .entree-s:nth-child(3), .plats .entree-s:nth-child(3), .dessert .entree-s:nth-child(3) {
  animation-delay: 2s;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
/*fin animation contain*/
h2 {
  font-weight: 300;
  line-height: 18px;
}

h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.09px;
  text-align: left;
  color: #000000;
  height: 21px;
}

span {
  width: 18px;
  height: 18px;
  float: right;
  margin-right: 20px;
  font-size: 15.04px;
  font-weight: 700;
  line-height: 17.63px;
  color: #353535;
  position: relative;
  bottom: 15px;
}

aside {
  font-size: 15.04px;
  font-weight: 300;
  line-height: 17.63px;
  text-align: left;
  height: 19px;
  margin-top: 7px;
}

/*configuration button*/
.button-menu {
  display: flex;
  justify-content: center;
}

.button {
  border-radius: 35px;
  height: 60px;
  width: 218px;
  border: 1px #FF79DA solid;
  color: white;
  cursor: pointer;
  transition: filter 0.3s ease; /* Transition douce pour l'effet de survol */
  transition: background-image 0.3s, box-shadow 0.3s;
}

.color-button {
  color: #FFFFFF;
}

.button-commander {
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  /*Augmente la luminosité du bouton de 20% lorsqu'il est survolé.*/
}
.button-commander:hover {
  filter: brightness(1.2); /* Éclaircir le bouton au survol */
}
.button-commander:hover {
  background-color: #ae80e5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.button-commander .button {
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: center;
  color: #FFFFFF;
  text-align: center;
}

a {
  text-decoration: none;
  color: initial;
}

.color-contact {
  color: #FFFFFF;
}

ul {
  list-style-type: none;
}
ul a {
  color: #FFFFFF;
}

.bloc-footer {
  margin-bottom: 0;
}

/*Configuration footer*/
.image-foot {
  width: 137.58px;
  height: 27px;
  font-style: italic;
  font-size: 18px;
  line-height: 26.24px;
  filter: brightness(0) invert(1) hue-rotate(180deg);
  margin-top: 2px;
  padding-top: 16px;
}

footer {
  margin-top: 50px;
  width: 100%;
  background-color: #353535;
}
footer .pasdepage {
  color: white;
}
footer .bloc-footer {
  display: grid;
  gap: 10px;
  margin-left: 20px;
}

.image-footer {
  float: left;
  margin-right: 10px;
}

dt {
  margin-top: 5px;
}

a {
  text-decoration: none;
  color: initial;
}

.color-contact {
  color: #FFFFFF;
}

@media all and (min-width: 1024px) {
  .menudujour {
    width: 70%;
    border: none;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    display: flex;
    background-color: #F6F6F6;
    margin: auto;
  }
  .menudujour .contain-main {
    width: 100%;
  }
  .button-menu {
    padding: 40px;
  }
  h1 {
    text-align: center;
    cursor: pointer;
  }
  .image-like {
    right: 20%;
  }
  body {
    background-color: #FFFFFF;
  }
  ul {
    list-style-type: none;
  }
  ul a {
    color: #FFFFFF;
  }
  footer {
    background-color: #353535;
    color: #F6F6F6;
    height: 114px;
    width: 100%;
    margin-top: 0;
  }
  footer .pasdepage {
    display: flex;
    flex-direction: row;
  }
  footer .bloc-footer {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: end;
    margin-top: 60px;
  }
  footer .img-first {
    order: 1;
    margin-right: 40px;
  }
  footer .image-footer {
    float: left;
    margin-right: 10px;
  }
  footer .image-foot {
    height: 20px;
    font-style: italic;
    font-size: 18px;
    line-height: 26.24px;
    filter: brightness(0) invert(1) hue-rotate(180deg);
    position: relative;
    padding-top: 0;
    margin-top: 0;
  }
  a {
    text-decoration: none;
    color: initial;
  }
}/*# sourceMappingURL=style-mobile.css.map */