/****** General ***********/


* {
    font-family: "Roboto", sans-serif;
  }
  @import "var/var.scss";

  header{
    background-color: #FFFFFF;
    margin-left: 0;
    width: 100%;
    height: 63px;
    padding-top: 20px;
}
.img-head{
    width: 162px;
     height: 44px;
 display: block;
margin: auto;
 
}
.image-goback{
width: 30px;
height: 30px;
float: left;
}
.img-plat{
width: 100%;
height: 375px;
object-fit: cover;
}
  // configuration du body
  html, body{
    width: 100%;
    background-color: #F6F6F6;
    margin: 0;
    overflow-x: hidden;
}
.contain-main{
  padding: 20px;
}
hr{
  border: none;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  margin-left: 0;
 margin-top: 0;
 margin-bottom: 0;

}
h1{
font-size: 38px;
font-style:  italic;
font-weight: 400;
line-height: 40.82px;
text-align: left;
height: 27px;
margin-left: 17px;
padding-top: 25px;
margin-bottom: 0;
margin-top: 0;

} 
   .menudujour{
    width: 100%;
    background-color: #F6F6F6;
    border: none;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    position: relative;
    bottom: 50px;
   }
  .image-like{
    
    float: right;
    right: 30px;
    position: absolute;
    top: 50px;
  }
 
  .selecteur{
    margin-top: 40px;
    margin-bottom: 12px;
    width: 275px;
    height: 27px;
    margin-left: 8px;
  }

  @import "component/animationheart.scss";

  @import "layout/animationcloche.scss";

  /*animation contain*/

  .entree, .plats, .dessert{
   display: flex;
   flex-direction: column;
        gap: 12px;
        .entree-s{
          opacity: 0;
          transform: translateX(-10px); // Décalage initial vers la gauche
          animation: slideIn 0.9s ease-in-out forwards;
        
          &:nth-child(2) {
            animation-delay: 1s; // Léger décalage pour le deuxième élément
          }
        
          &:nth-child(3) {
            animation-delay: 2s; // Léger décalage pour le troisième élément
          }
        }  
        }
        
        @keyframes slideIn {
        to {
          opacity: 1;
          transform: translateX(0); // Pas de décalage
        }
        }
        
        @keyframes fadeIn {
        to {
          opacity: 1;
        }
  }

  /*fin animation contain*/

  h2{
    font-weight: 300;
    line-height: 18px;
  }
  h3{
    font-size: 18px;
    font-weight: 500;
    line-height: 21.09px;
    text-align: left;
    color:  #000000;
    height: 21px;
  }
  span{
    width: 18px;
    height: 18px;
   float: right;
   margin-right: 20px;
  font-size: 15.04px;
  font-weight: 700;
  line-height: 17.63px;
  color: #353535;
  position: relative;
  bottom: 15px;
  }
  
  aside{
  font-size: 15.04px;
  font-weight: 300;
  line-height: 17.63px;
  text-align: left;
  height: 19px;
  margin-top: 7px;
  }


  /*configuration button*/

  @import "component/btn.scss";
  
  .button-commander{
  background-image: $button-color;
  position: relative;
   top: 60px;
  /*Augmente la luminosité du bouton de 20% lorsqu'il est survolé.*/

    &:hover {
   filter: brightness(1.2); /* Éclaircir le bouton au survol */
    }
     
    &:hover {
   background-color: $couleurSurvol;
   box-shadow: $ombreSurvol;
  }
  //styleName: Button;
  .button{
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
  }
  
  }
  a{
    text-decoration: none;
    color: initial;
  }
  .color-contact{
  color: #FFFFFF;
  }
  
  
 
@media screen and (max-width: 723px) {
  
   //configuration footer
   ul{
    list-style-type: none;
    a{
      color: #FFFFFF;
    }
  }
  .image-foot{
    width: 137,58px;
    height: 27px;
    font-style: italic;
    size: 18px;
    line-height: 26,24px;
    filter: brightness(0) invert(1) hue-rotate(180deg); 
    margin-top: 2px;
    padding-top: 16px;
  }
 @import "component/footer.scss";
 
}
  //coniguration style palette du gout forfait Desktop
  @media all and (min-width: 1024px){
    .menudujour{
      width: 70%;
      height: auto;
      background-color: #F6F6F6;
      border: none;
      border-top-left-radius: 35px;
      border-top-right-radius: 35px;
     position: relative;
     bottom: 70px;
     top: auto;
     margin-left: 15%;
     }
    
     .button-commander{
      position: relative;
      bottom: -100px;
     }

     main{
      height: 1580px;
     }
 //configuration footer
 ul{
  list-style-type: none;
    a{
      color: #FFFFFF;
    }
}
 footer{
  background-color: #353535;
  color: #F6F6F6;
  height: 114px;
  width: 100%;
  
  .pasdepage{
    display: flex;
    flex-direction: row;
  }
  .bloc-footer{
    width: 100%;
    display: flex;
   gap: 20px;
   justify-content: end;
   margin-top: 60px;
  }
  .img-first{
    order: 1;
    margin-right: 40px;
  }
  .image-footer{
  float: left;
  margin-right: 10px;
}
.image-foot{
  height: 20px;
  font-style: italic;
  size: 18px;
  line-height: 26,24px;
  filter: brightness(0) invert(1) hue-rotate(180deg); 
  position: relative;

}
}
a{
text-decoration: none;
color: initial;

}

  
  }