@media screen and (max-width: 480px) {
  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px; // Hauteur de la barre de progression
    background-color: #007bff; // Couleur de la barre de progression
    z-index: 9999; // Assure que le loader est au-dessus de tout le reste
    opacity: 1;
    transition: opacity 0.9s ease-in-out; // Transition pour une apparition en douceur
  
    &.hidden {
      opacity: 0; // Cache le loader lorsque la classe 'hidden' est appliquée
      pointer-events: none; // Empêche les interactions avec le contenu derrière le loader
    }
  
    .loader-bar {
      width: 0; // La largeur de la barre de progression commence à zéro
      height: 4px; // Hauteur de la barre de progression
      background-color: #007bff; // Couleur de la barre de progression
      transition: width 1s ease-in-out; // Transition pour animer la progression
      animation: loaderannimation 3s linear forwards;
    }
    @keyframes loaderannimation {
      100%{
        width: 100%;
      }
    }
  }
    header{
        background-color: #FFFFFF;
       display: grid;
       grid-template-rows: 63px 50px;
        max-width: 375px;
        height: 113px;
    }
    .div_image_head{
      min-width: 375px;
      margin-left: 5px;
    } 
    .image_head{
        width: 197px;
        height: 36px;
    margin-left: 80px;
    padding-top: 20px;
 }
 
      .image_Nouveau{
      width: 80px;
      height: 29px;
      border-radius: 2px;
      display: block;
  position: absolute;
  margin-left: 240px; 
  top: 1040px;
 }
 .image_Nouveau2{
  width: 80px;
  height: 29px;
  border-radius: 2px;
  display: block;
position: absolute;
margin-left: 240px; 
top: 1320px;
}
   form{
    margin-left: 120px;
   }
   .position_head{
    background-color: #EAEAEA;
   padding-top: 20px;
    .image_position {
        width: 12px;
        height: 16px;
        float: left;
    }
    .champ{
        padding: auto;
        font-weight: 100px;
        border: none;
        background-color: #EAEAEA;
            //styleName: Button;
font-family: "Roboto" sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 18.75px;
text-align: left;
color: #353535;
    }
}
.container_menu{
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.titre_one{
    max-width: 275px;
    height: 68px;
    font-family: "robot", sans-serif;
    size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    position: relative;
    bottom: 30px;
    left: 32px;
    padding-bottom: 10px;
}
.titre_two{
    width: 315px;
    height: 46px;
    position: relative;
    top: 40px;
    left: 34px;
  text-align: center;
  line-height: 21.09px;
  font-family: "robot", sans-serif;
  size: 18px;
  font-weight: 300;
  color: #353535;
}
.titre_tree{
    width: 218px;
    height: 40px;
    font-family: "robot", sans-serif;
    text-align: center;
    position: relative;
    size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    top: 80px;
   left: 74px;
}
//configuration du button

$button-color: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
$couleurPrincipale: #9356dc;
$couleurSurvol: lighten($couleurPrincipale, 10%); // Légèrement éclaircie
$ombreSurvol: 0 0 10px rgba(0, 0, 0, 0.5); // Ombre portée plus visible

.button{
background-image: $button-color;
border-radius: 35px;
border: 1px #FF79DA solid;
color: white;
padding-top: 15px;
transition: background-image 0.3s, box-shadow 0.3s; // Transition animée
       
&:hover {
 background-color: $couleurSurvol;
 box-shadow: $ombreSurvol;
}
}
html, body{
         background-color: rgb(247, 248, 248);
         max-width: 375px !important;
         main{
          overflow-x: hidden !important;
         }
    }
//configuration de laliste de menu
    .menu_one{
        margin-top: 150px;
        min-width: 375px;
        height: 440px;
        background-color: #FFFFFF;
        margin-left: 0;

    }
    h1{
      font-family: "robot", sans-serif;
        size: 24px;
        line-height: 28.13px;
      text-align: left;
        font-weight: 700;
        color: #000000;
        width: 275px;
        height: 31px;
        padding: 40px;
    }     
  .cmenu{
    border: 1px #F6F6F6 solid;
    width: 335px;
    height: 72.38px;
    border-radius: 20px;
    margin-left: 20px;
    background-color: #F6F6F6;
    box-shadow: 2px 2px 2px 1px #cec7c7;
  }
  .menu{
    display: grid;
    grid-template-rows: auto;
    gap: 20px;
  
  }
  .menu_titre_one {
   text-align: center;
  }
  .image_menu{
    float: left;
    margin-left: 40px;
    padding-top: 20px;
    .image_m{
        width: 13.02px;
        height: 19.9px;
        opacity: 0px;
      }
      .image_mi{
        width: 16px;
        height: 15.92px;
      }
      .image_mo{
        Width: 18px;
        Height: 17.91px;
      }
    }
  .image_num{
    width: 24px;
    height: 24px;
    position: relative;
    left: 0;
      float: left;
      padding-top: 20px;
      margin-left: 0;
  }
  aside{
    font-family: "robot", sans-serif;
    font-weight: 300;
    size: 17px;
    line-height: 19.90px;
    color: #000000;
    width: 247px;
    height: 24px;
  }
  .div_cadre{
    margin-left: 17px;
    background-color: #FFFFFF;
    width: 340px;
   
  
  }
  /* Réinitialisation CSS */
img {
  border: 0; /* Supprime la bordure par défaut */
  max-width: 100%; /* Empêche l'image de déborder de son conteneur */
  max-height: 100%;/* Permet à l'image de conserver ses proportions d'origine lorsqu'elle est redimensionnée */
}
  .imageM{
    width: 340px !important;
    height: 200px !important;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  div{
    .image_like{
    width: 22px;
    height: 21px;
    float: right;
    right: 40px;
    position: relative !important;
    top: 10px !important;
    }
  }
  .smenu_principal{
    height: 1058px;
    display: grid;
    grid-template-rows: 251px 251px 251px 251px;
    gap: 20px;
    padding: auto;
  }
  .image_foot{
    width: 137,58px;
    height: 27px;
    font-style: italic;
    size: 18px;
    line-height: 26,24px;
    filter: brightness(0) invert(1) hue-rotate(180deg); 
    margin-top: 2px;
    padding-top: 16px;
  }
  footer{
    position: absolute !important;
    top: 2120px !important;
    width: 375px;
  }
  .pasdepage_c{
    background-color: #353535;
    max-width: 375px;
    height: 186px;
    color: white;
    margin-top: 10px;
     .bloc_footer{
       display: grid;
       gap: 10px;
       margin-left: 20px;
    }
  }
  .image_footer{
    float: left;
    margin-right: 10px;

  }
  dt{
    margin-top: 5px;
  }
  a{
    text-decoration: none;
    color: initial;
  }
 .color_contact{
  color: #FFFFFF;
 }

}