@charset "UTF-8";
/****** General ***********/
* {
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 480px) {
  html {
    display: flex;
  }
  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #007bff;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.9s ease-in-out;
  }
  .loader.hidden {
    opacity: 0;
    pointer-events: none;
  }
  .loader .loader-bar {
    width: 0;
    height: 4px;
    background-color: #007bff;
    transition: width 1s ease-in-out;
    animation: loaderannimation 3s linear forwards;
  }
  @keyframes loaderannimation {
    100% {
      width: 100%;
    }
  }
  header {
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  ul {
    list-style-type: none;
  }
  ul a {
    color: #FFFFFF;
  }
  .introduction {
    background-color: #EAEAEA;
    height: 50px;
    width: 100%;
  }
  .search {
    display: flex;
    padding-left: 29%;
    padding-top: 8px;
  }
  .search .search-icon {
    width: 14px;
    height: 20px;
  }
  .search .search-text {
    height: 24px;
  }
  .search .search-text input {
    width: 110px;
    border: none;
    background-color: #EAEAEA;
    padding-left: 15px;
    font-family: "Roboto" sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    outline: none;
  }
  .image_head {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 63px;
  }
  .image_head .img-head {
    width: 45vw;
    height: 36px;
    padding: 15px;
  }
  .image_Nouveau {
    width: 80px;
    height: 29px;
    border-radius: 2px;
    display: block;
    position: absolute;
    margin-left: 70%;
  }
  .image_Nouveau2 {
    width: 80px;
    height: 29px;
    border-radius: 2px;
    display: block;
    position: absolute;
    margin-left: 70%;
    top: 1222px;
  }
  .container_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .container_menu h1 {
    padding-left: 20%;
    padding-right: 20%;
    height: 63px;
    font-family: "robot", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #000000;
  }
  .container_menu .titre_two {
    width: 90%;
    height: 46px;
    text-align: center;
    line-height: 21.09px;
    font-family: "robot", sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #353535;
    margin-bottom: 10px;
    padding: 10px;
  }
  .container_menu .titre_tree {
    width: 218px;
    height: 40px;
    font-family: "robot", sans-serif;
    text-align: center;
    size: 16px;
    font-weight: 500;
    line-height: 18.75px;
  }
  .button-menu {
    display: flex;
    justify-content: center;
  }
  .button {
    background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    border-radius: 35px;
    border: 1px #FF79DA solid;
    color: white;
    transition: background-image 0.3s, box-shadow 0.3s;
  }
  .button:hover {
    background-color: #ae80e5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  html, body {
    background-color: rgb(247, 248, 248);
    width: 100%;
  }
  html main, body main {
    overflow-x: hidden !important;
  }
  .menu_one {
    height: 440px;
    background-color: #FFFFFF;
    margin-left: 0;
  }
  h2 {
    font-family: "robot", sans-serif;
    font-size: 24px;
    line-height: 28.13px;
    text-align: left;
    font-weight: 700;
    color: #000000;
  }
  .sous_titre_menu {
    padding: 40px;
  }
  .cmenu {
    border: 1px #F6F6F6 solid;
    width: 80vw;
    height: 72.38px;
    border-radius: 20px;
    margin-left: 20px;
    background-color: #F6F6F6;
    box-shadow: 2px 2px 2px 1px #cec7c7;
  }
  .menu {
    display: grid;
    grid-template-rows: auto;
    gap: 20px;
  }
  .menu_titre_one {
    text-align: center;
  }
  .image_menu {
    float: left;
    margin-left: 40px;
    padding-top: 20px;
  }
  .image_menu .image_m {
    width: 13.02px;
    height: 19.9px;
    opacity: 0px;
  }
  .image_menu .image_mi {
    width: 16px;
    height: 15.92px;
  }
  .image_menu .image_mo {
    Width: 18px;
    Height: 17.91px;
  }
  .image_num {
    width: 24px;
    height: 24px;
    position: relative;
    left: 0;
    float: left;
    padding-top: 20px;
    margin-left: 0;
  }
  aside {
    font-family: "robot", sans-serif;
    font-weight: 300;
    size: 17px;
    line-height: 19.9px;
    color: #000000;
    width: 247px;
    height: 24px;
  }
  .div_cadre {
    margin-left: 17px;
    background-color: #FFFFFF;
    width: 90%;
  }
  /* Réinitialisation CSS */
  img {
    border: 0; /* Supprime la bordure par défaut */
    max-width: 100%; /* Empêche l'image de déborder de son conteneur */
    max-height: 100%; /* Permet à l'image de conserver ses proportions d'origine lorsqu'elle est redimensionnée */
  }
  .imageM {
    width: 100% !important;
    height: 200px !important;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  div .image_like {
    width: 22px;
    height: 21px;
    float: right;
    right: 40px;
    position: relative !important;
    top: 10px !important;
  }
  .smenu_principal {
    height: 1058px;
    display: grid;
    grid-template-rows: 251px 251px 251px 251px;
    gap: 20px;
    padding: auto;
    width: 100%;
  }
  .image_foot {
    width: 137, 58px;
    height: 27px;
    font-style: italic;
    size: 18px;
    line-height: 26, 24px;
    filter: brightness(0) invert(1) hue-rotate(180deg);
    margin-top: 2px;
    padding-top: 16px;
  }
  footer {
    position: absolute !important;
    top: 2040px !important;
    width: 100%;
    background-color: #353535;
  }
  footer .pasdepage_c {
    height: 186px;
    color: white;
    margin-top: 10px;
  }
  footer .bloc_footer {
    display: grid;
    gap: 10px;
    margin-left: 20px;
  }
  .image_footer {
    float: left;
    margin-right: 10px;
  }
  dt {
    margin-top: 5px;
  }
  a {
    text-decoration: none;
    color: initial;
  }
  .color_contact {
    color: #FFFFFF;
  }
}/*# sourceMappingURL=mobilefirst.css.map */