/****** General ***********/
* {
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 480px){
    header{
        background-color: #FFFFFF;
        margin-left: 0;
        width: 100%;
        height: 63px;
    }
    .image_head{
        width: 162px;
         height: 44px;
     display: block;
    margin: auto;
     
 }
 .image_goback{
    width: 30px;
    height: 30px;
    float: left;
 }
 .imageM{
    width: 100%;
    height: 375px;
}
// configuration du body
html, body{
    width: 100%;;
    margin: 0;
    overflow-x: hidden;
}
hr{
  border: none;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  margin-left: 0;
 margin-top: 0;
 margin-bottom: 0;

}
h1{
font-size: 28px;
font-style: italic;
font-weight: 400;
line-height: 40.82px;
text-align: left;
height: 27px;
margin-left: 17px;

}
 .menudujour{
  width: 100%;
  height: 1307px;
  background-color: #F6F6F6;
  border: none;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  position: absolute;
  top: 283px;
 }
.image_like{
  width: 22px;
  height: 21px;
  float: right;
  right: 40px;
  position: absolute;
  top: 30px;
}
.container_main{
  display: grid;
  grid-template-rows: 270px 270px 270px;
 
}
.selecteur{
  margin-top: 40px;
  margin-bottom: 12px;
  width: 275px;
  height: 27px;
  margin-left: 8px;
}
.entree, .plats, .dessert{
  display: grid;
      grid-template-rows: 69px 69px 69px;
      gap: 12px;
      .entree_s{
        opacity: 0;
        transform: translateX(-10px); // Décalage initial vers la gauche
        animation: slideIn 0.9s ease-in-out forwards;
      
        &:nth-child(2) {
          animation-delay: 1s; // Léger décalage pour le deuxième élément
        }
      
        &:nth-child(3) {
          animation-delay: 2s; // Léger décalage pour le troisième élément
        }
      }  
      }
      
      @keyframes slideIn {
      to {
        opacity: 1;
        transform: translateX(0); // Pas de décalage
      }
      }
      
      @keyframes fadeIn {
      to {
        opacity: 1;
      }
}
.select-button{
  display: none;
}
.entree_s{
  background-color: #FFFFFF;
  width: 90%;
  border-radius: 20px;
  padding: 15px;
  margin-left: 10px; 
}
h2{
  font-weight: 300;
  line-height: 18px;
}
h3{
  font-size: 18px;
  font-weight: 500;
  line-height: 21.09px;
  text-align: left;
  color:  #000000;
  height: 21px;
  margin-bottom: 0;
  margin-top: 0;
}
span{
  width: 18px;
  height: 18px;
 float: right;
 margin-right: 20px;
 font-family: Roboto;
font-size: 15.04px;
font-weight: 700;
line-height: 17.63px;
color: #353535;
position: relative;
bottom: 15px;
}

aside{
  font-family: Roboto;
font-size: 15.04px;
font-weight: 300;
line-height: 17.63px;
text-align: left;
height: 19px;
margin-top: 0;

}
$button-color: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
$couleurPrincipale: #9356dc;
$couleurSurvol: lighten($couleurPrincipale, 10%); // Légèrement éclaircie
$ombreSurvol: 0 0 10px rgba(0, 0, 0, 0.5); // Ombre portée plus visible

.div-button{
  display: flex;
justify-content: center;
}
.button_commander{
  width: 186px;
height: 50px;
border-radius: 25px;
background-image: $button-color;
color: #FFFFFF;
position: absolute;
bottom: 130px;
transition: background-image 0.3s, box-shadow 0.3s; // Transition animée
       
&:hover {
 background-color: $couleurSurvol;
 box-shadow: $ombreSurvol;
}

//styleName: Button;
.button{
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: center;
  color: #FFFFFF;
  text-align: center;
}

}
a{
  text-decoration: none;
  color: initial;
}
.color_contact{
color: #FFFFFF;
}



 //configuration footer
 ul{
  list-style-type: none;
  a{
    color: #FFFFFF;
  }
}
.image_foot{
  width: 137,58px;
  height: 27px;
  font-style: italic;
  size: 18px;
  line-height: 26,24px;
  filter: brightness(0) invert(1) hue-rotate(180deg); 
  margin-top: 2px;
  padding-top: 16px;
}
footer{
position: absolute !important;
top: 1490px !important;
width: 100%;
background-color: #353535;
.pasdepage_c{
  height: 186px;
  color: white;
  margin-top: 10px;
}
   .bloc_footer{
     display: grid;
     gap: 10px;
     margin-left: 0px;
     padding-left: 25px;
  }
}
.image_footer{
  float: left;
  margin-right: 10px;

}
dt{
margin-top: 5px;
}
a{
text-decoration: none;
color: initial;
}
.color_contact{
color: #FFFFFF;
}

}
