@mixin herder {
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@mixin text{
    text-align: center;
    font-family: "roboto" sans-serif;
}

@mixin note-image{
   font-family: "Roboto" sans-serif;
   font-size: 18px;
   font-weight: 700;
   line-height: 21.09px;
   text-align: left;
   color: black;
}

@mixin image-nouveau{
  width: 20vw;
    height: 29px;
    object-fit: cover;
    border-radius: 2px;
    display: block;
   position: absolute;
   top: 15px;
   margin-left: 75%; 
}
@mixin image-n2{
      object-fit: cover;
      border-radius: 2px;
     width: 18%;
     position: absolute;
     top: 15px;
     margin-left: 80%;
}