$button-color: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
$couleurPrincipale: #9356dc;
$couleurSurvol: lighten($couleurPrincipale, 10%); // Légèrement éclaircie
$ombreSurvol: 0 0 10px rgba(0, 0, 0, 0.5); // Ombre portée plus visible
$color-tertiary: #99e2d0;