 /*animation image coeur*/

 .ft{
    background: black;
    color: transparent;
    background-clip: text;
    transition: background-size 2s ease;
    display: inline-block;
  
      &:hover{
        background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
        background-size: 100% 100%;  /* Laissez cette valeur pour qu'elle reste visible après l'animation */
        background-clip: text;
        font-weight: 900;
        background-position: bottom;
        background-repeat: no-repeat;
        animation: animationheart 2s linear forwards;  /* Ajoutez 'forwards' pour que l'animation garde l'état final */
  
      }
   }
   @keyframes animationheart {
    0%{ 
      background-size: 100% 0%;
    } 
    100%{
      background-size: 100% 100%;
    }
   }