 /*animation image coeur*/

 .ft{
    background: black;
    color: transparent;
    background-clip: text;
    transition: background-size 500ms ease, background-position 500ms ease; /* Ajoutez la transition pour background-position */
    display: inline-block;
    border: 2px solid transparent; /* Add border */
    background-size: 100% 0%;
  
      &:hover{
        background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
        background-size: 100% 0%;  /* Laissez cette valeur pour qu'elle reste visible après l'animation */
        background-clip: text;
        font-weight: 900;
        background-position: top;
        background-repeat: no-repeat;
        animation: animationheart 1s linear forwards;  /* Ajoutez 'forwards' pour que l'animation garde l'état final */
       
  
      }
      &:not(:hover) {
        background-position: bottom; /* Définit la position de départ en bas */
    }
   }

   @keyframes animationheart {
    0%{ 
      background-size: 100% 0%;
    } 
    100%{
      background-size: 100% 100%;
    }
   }