
/* animation image coeur */
.ft {
  border: 2px solid transparent; /* Ajoutez une bordure */
  background-clip: text !important;
  background: black;
  color: transparent;
  background-size: 100% 0%;
  font-weight: 400; /* Initial font-weight */
  transition: font-weight 1s ease;

  /* Initial state animation */
  animation: fadeOut 1s forwards;
}

.ft:hover {
  /* Hover state animation */
  animation: fadeIn 1s forwards; /* Applique l'animation 'fadeIn' sur 1 seconde et s'assure que les styles de l'animation sont appliqués après son exécution */
}

@keyframes fadeIn {
  0% {
    background: black;
    background-size: 100% 0%; /* La taille du fond est de 100% en largeur et 0% en hauteur */
    font-weight: 200;
  }
  100% {
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    background-size: 100% 100%;
    font-weight: 900;
    background-clip: text;
  }
}

@keyframes fadeOut {
  0% {
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    background-size: 100% 100%;
    font-weight: 900;
    background-clip: text;
  }
  100% {
    background: black; /* À la fin de l'animation, le fond est noir */
    background-size: 100% 0%;
    font-weight: 200; /* Le poids de la police est 400 (normal) */
  }
}
