
.button-menu{
    display: flex;
    justify-content: center;
    padding-top: 60px;
    }

.button{
    border-radius: 35px;
    height: 60px;
    width: 218px;
    border: 1px #FF79DA solid;
    color: white;
    cursor: pointer;
    transition: filter 0.3s ease; /* Transition douce pour l'effet de survol */
    transition: background-image 0.3s, box-shadow 0.3s; // Transition animée
    }